# LaTeX auxiliary and temporary files
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.log
*.lof
*.lot
*.out
*.synctex.gz
*.toc

# Compiled PDF files
*.pdf

# Exclude tomtat.pdf
!tomtat.pdf

# Temporary files
*.tmp
*.bak
*.backup